.main
  .main__header
    .main__header__group
      .main__header__group--name
        name
      .main__header__group--member
        member :
        %span 1
    .main__header__edit
      Edit
  .main__chat

  .cont
    .cont__chat
      follow me!
      Twitter
      Instagram
