.main
  .main__header
    .main__header__name
      groupname
    .main__header__member
      member
    .main__header__edit
      edit
  .main__chat

  .cont
    .cont__chat
      follow me!
      Twitter
      Instagram
