.side
  .side__header
    .side__header__logo
      chat
    .side__header__icon
      =link_to "#", class: "header__icon header__icon--edit" do
        = icon('fas', 'edit',  class: "side__header__icon--btn")
      =link_to "#", class: "header__icon header__icon--cog" do
        = icon('fas', 'cog',  class: "side__header__icon--btn")
  .contents
    .contents__group
      follow me
    .contents__message
      Twitter
  
