.side
  .side__header
    .side__header__logo
      seo
    .side__header__icon
      =link_to "#", class: "header__btn header__btn--edit" do
        = icon('fas', 'edit',  class: "header__btn--icon")
        %span<>
      =link_to "#", class: "header__btn header__btn--cog" do
        = icon('fas', 'cog',  class: "header__btn--icon")
        %span<>
  .contents
    .contents__message
      follow me!
      Twitter
      Instagram
