
.main {
  margin-left: 300px;
  // width: 100%;
  width: calc(100vw - 300px);
  background-color: #fafafa;
  // text-decoration: none;
  font-weight: normal;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    // text-align: center;
    // font-size: 16px;
    // line-height: 90px;
    // align-items: center;
    padding: 0 40px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    &__group{
      margin-top:35px;
      &--name{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &--member{
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }

    &__edit{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px #38aef0;
      color: #38aef0;
      // position: absolute;
      // right: 40px;
      
    }
  }
  &__chat{
    margin: 46px 0 0 40px;
    height: calc(100vh - 276px);
    width:300px;
    padding-bottom: 40px;
    font-weight: normal;
    
    
    &__info{
      display: flex;
      margin-bottom: 10px;
     
      &--talker{
        font-size: 16px;
        font-weight: bold;
      }
      &--date{
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    &__text{
      font-size: 14px;
      color: #434A54;
    }  
  }
  .form{
    
    height: 90px;
    width: calc(100vw - 300px);
    
    background-color: #ddd;
    // position: absolute;
      // bottom: 0;
    &__new_message{
      padding: 20px 40px;
      display: flex;

      &__input{
        
        width: 100%;
        position: relative;
          // left: 40px;
        // padding: 0 40px 0 10px;
        // margin: auto 0;
        // cursor: pointer;
        .holder{
          width: 100%;
          height: 50px;
          padding: auto 0;
          
          // margin-left: 10px;
          // position: relative;
        }
        .input__image{
          // font-size: 1.3rem;
          position: absolute;
          top: 14px;
          right: 14px;
          cursor: pointer;
        }
        .input__file{
          display: none;
          // height: 14px;
          // width: 14px;
          
        }
        .input__icon{
          // height: 14px;
          // width: 14px;

          // display: inline-block;
          // font: normal normal normal 14px/1 FontAwesome;
          // font-size: inherit;
          // text-rendering: auto;
          // -webkit-font-smoothing: antialiased;
        }        
      }
      &__submit{
        width: 60px;
        height: 50px;
        padding: 0 25px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        // align-items: center;
      }
    }
  }
}

